svg {
   width: 1000px;
   height: 600px;
}

.hidden {
   display: none;
}

table {
   border-collapse: collapse;     
 }

table th,
table td {
  border: 1px solid #000000;   
  padding: 6px 10px;  
  margin: 0;          
}

table tbody tr:nth-child(even) {
  background: #c3c3c3;          
}
 