body {
   padding: 5%;
}


table {
  border-collapse: collapse;
  width: 100%;
  background: #fafafa;
}

th, td {
  border: 1px solid #000000;
  padding: 8px 12px;
}

th {
  background: #cfd0d1;
}

.show { display: table-row; }
.hide { display: none; }



.pagination span {
  cursor: pointer;
  user-select: none;
  padding: 5px;
}

.pagination .active {
  font-weight: bold;
  border-color: black;
}



.filter-container label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.filter-container input {
  padding: 4px 6px;
  margin-bottom: 8px;
}

.filter-container button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}
