
.wrapper {
}

header {
   height: 60px;
   display: inline;
   color: red;
   

}

svg {
   width: 800px;
   height: 600px;
}

.links  {
   display: inline;
}

.content {
}
.content-block-big {
}
.content-block-big-image {
}
.content-block-big-text {
}
.content-block-big-text-header {
}
.content-block-big-text-text {
}
.content-block-dots {
}
.content-block {
}
.content-block-image {
}
.content-block-text {
}
.content-block-text-header {
}
.content-block-text-text {
}